<div class="flex flex-align-start flex-justify-between">
  <h1>New Post</h1>
  <a class="btn" href="/admin">Back</a>
</div>

<%- include('../partials/post-form.ejs', { formId: "create-form", method:
"POST", actionText: "Create" }) %>
