<h1>New Blog Post</h1>

<form class="input-form" method="post">
  <div class="input-field">
    <label for="title">Title </label>
    <input type="text" name="title" id="title" required />
  </div>
  <div class="input-field">
    <label for="url">URL</label>
    <input type="text" name="slug" id="url" required />
  </div>
  <div class="input-field">
    <label for="tags">Tags</label>
    <input type="text" name="tags" id="tags" required />
  </div>
  <div class="input-field">
    <label for="content">Content</label>
    <textarea
      name="content"
      id="content"
      cols="30"
      rows="10"
      required
    ></textarea>
  </div>
  <button class="grid-self-right" type="submit">Create</button>
</form>

<script defer src="../js/create.js"></script>
