<h1>Log In</h1>

<form class="input-form" method="post">
  <div class="input-field">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />
  </div>
  <div class="input-field">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <button class="btn" type="submit">Log In</button>
</form>
