<h1>Reset Password</h1>

<form class="input-form" method="post">
  <div class="input-field">
    <label for="new-password">New Password</label>
    <input type="password" name="newPassword" id="new-password" />
  </div>
  <div class="input-field">
    <label for="confirm-new-password">Confirm New Password</label>
    <input
      type="password"
      name="confirmNewPassword"
      id="confirm-new-password"
    />
  </div>
  <button class="btn" type="submit">Update</button>
</form>
