<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="page-header">
      <div class="container">
        <p>Blog Website</p>
        <nav class="main-nav">
          <a class="main-nav-link" <% if (page === "Home") { %>data-active="true"<% } %> href="/">Home</a>
          <a class="main-nav-link" <% if (page === "Blogs") { %>data-active="true"<% } %> href="blogs">Blogs</a>
        </nav>
      </div>
    </header>
    <main class="container"><%- body %></main>
  </body>
</html>
