:root {
  --cl-primary-dark-100: hsl(0, 0%, 7%);
  --cl-primary-dark-200: hsl(0, 0%, 9%);
  --cl-primary-dark-300: hsl(0, 0%, 14%);
  --cl-primary-dark-400: hsl(0, 0%, 18%);
  --cl-primary-dark-500: hsl(0, 0%, 24%);
  --cl-primary-dark-600: hsl(0, 0%, 28%);
  --cl-primary-dark-700: hsl(0, 0%, 32%);
  --cl-primary-dark-700: hsl(0, 0%, 40%);

  --cl-primary-light-100: hsl(0, 0%, 88%);
  --cl-primary-light-200: hsl(0, 0%, 84%);
  --cl-primary-light-300: hsl(0, 0%, 80%);
  --cl-primary-light-400: hsl(0, 0%, 74%);
  --cl-primary-light-500: hsl(0, 0%, 68%);
  --cl-primary-light-600: hsl(0, 0%, 60%);
  --cl-primary-light-700: hsl(0, 0%, 52%);
}

/* RESET */
/* ------------------------- */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  font-size: inherit;
  font-family: inherit;
}

button {
  all: unset;
}

input,
textarea {
  all: unset;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/*  not([class])*/
/* a:not([class]),
a:link,
a:visited,
a:hover, */
a:not([class]) {
  color: currentColor;
}

a:not([class]):visited {
  color: var(--cl-primary-light-400);
}

a[class] {
  text-decoration: none;
  color: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* DEFAULT STYLES */
/* ------------------------- */

body {
  color: var(--cl-primary-light-100);
  background-color: var(--cl-primary-dark-100);
}

main {
  padding: 2.25rem 1rem 0;
}

h1 {
  margin-bottom: 2rem;
}

.page-header .container {
  padding: 1.2rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--cl-primary-dark-200);
  border: 1px solid var(--cl-primary-dark-500);
  border-top: none;
  border-radius: 0 0 1rem 1rem;
}

.page-header .logo-link {
  margin-left: 0.25em;
  font-size: 1.25rem;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
}

.main-nav-link {
  padding: 0.6em 1.6em;
  min-width: 10ch;
  color: inherit;
  border: 1px solid var(--cl-primary-dark-500);
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.main-nav-link[data-active="true"] {
  background-color: var(--cl-primary-dark-300);
  border-color: var(--cl-primary-dark-700);
}

.main-nav-link:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.main-nav-link:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.main-nav-link:hover {
  background-color: var(--cl-primary-dark-500);
  border-color: var(--cl-primary-dark-700);
}

.main-nav-link:active {
  background-color: var(--cl-primary-dark-400);
  border-color: var(--cl-primary-dark-500);
}

/* DEFAULT ELEMENT STYLES */
/* ------------------------- */

input,
textarea {
  padding: 0.4em 0.6em;
  background-color: var(--cl-primary-dark-200);
  border: 1px solid var(--cl-primary-dark-400);
  border-radius: 0.2em;
  transition: border-color 250ms ease-in-out;
}

input:hover,
textarea:hover {
  border-color: var(--cl-primary-dark-500);
}

input:focus,
textarea:focus {
  border-color: var(--cl-primary-light-600);
}

/* COMPONENTS CLASSES */
/* ------------------------- */

.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  list-style: none;
}

.list-item {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
  background-color: var(--cl-primary-dark-200);
  border: 2px solid var(--cl-primary-dark-300);
}

.prop-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.prop-item {
  display: flex;
  justify-content: flex-start;
  gap: 0.2rem;
  border-bottom: 2px solid var(--cl-primary-dark-300);
}

.prop-item > :first-child {
  width: 20%;
  padding: 0.4rem;
  border-right: 2px solid var(--cl-primary-dark-300);
}

.prop-item > :last-child {
  padding: 0.4em;
}

.blog-post-content {
  font-size: 1.125rem;
}

.input-form {
  padding: 2rem;
  border: 2px solid var(--cl-primary-dark-200);
  display: grid;
  box-shadow: 0 2px 3px var(--cl-primary-dark-300);
}

.input-field {
  display: grid;
  gap: 0.3em;
}

.input-field:not(:last-child) {
  margin-bottom: 0.9em;
}

.search-box {
  margin-bottom: 1rem;
  padding: 2rem;
  border: 2px solid var(--cl-primary-dark-200);
  box-shadow: 0 2px 3px var(--cl-primary-dark-300);
}

.model {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 7%, 0.88);
}

.model-content {
  position: relative;
  width: 80ch;
  padding: 2em 2em 1.2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8em;
  background: var(--cl-primary-dark-200);
  border: 2px solid var(--cl-primary-dark-300);
  border-radius: 6px;
}

.model p {
  width: 100%;
  font-size: 1.25rem;
  padding: 1em 2em;
}

.container {
  width: min(50rem, calc(100% - 4rem));
  margin-inline: auto;
}

.container-small {
  width: min(30rem, calc(100% - 4rem));
  margin-inline: auto;
}

.btn {
  min-width: 6ch;
  padding: 0.5em 1em;
  background-color: var(--cl-primary-dark-300);
  border: 1px solid var(--cl-primary-dark-500);
  border-radius: 0.2em;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  background-color: var(--cl-primary-dark-400);
  border-color: var(--cl-primary-dark-600);
}

.btn:focus {
  border-color: var(--cl-primary-light-600);
}

.btn-small {
  min-width: 5ch;
  padding: 0.3em 0.6em;
  font-size: 1rem;
}

.logo-link {
  cursor: pointer;
}

.tag {
  padding: 0.2em 0.4em;
  border-radius: 4px;
  color: var(--cl-primary-dark-200);
  background-color: var(--cl-primary-light-400);
}

/* UTILITY CLASSES */
/* ------------------------- */

.hidden {
  visibility: hidden;
}

.grid-self-right {
  width: fit-content;
  justify-self: right;
}

.flex {
  display: flex;
  gap: 0.2em;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-justify-between {
  justify-content: space-between;
}
